/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
h1 {
  color:crimson;
  text-align: center;
}
form {
  display: flex;
  width: 100%;
}
#LS, #PS {
  display: flex;
  flex-direction: column;
  flex: 50%;
  text-align: center;
}
#LSAttributes, #PSAttributes {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  padding: 0;
}
.input {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.input > label {
  align-self: center;
}
#LFGM, #PFGM, #LFGA, #PFGA, #LFTM, #PFTM, #LFTA, #PFTA, #LthreePM, #PthreePM, #LREB, #PREB, #LAST, #PAST, #LSTL, #PSTL, #LBLK, #PBLK, #LTO, #PTO, #LDD, #PDD, #LTD, #PTD, #LPTS, #PPTS {
  width: 100px;
  height: 30px;
}
#LOREB, #POREB {
  width: 92px;
  height: 30px;
}
button {
  margin-right: auto;
  margin-left: auto;
}
span {
  font-size: 25px;
  width: 50px;
  height: 30px;
}
#calculate {
  display: flex;
  align-self: center;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/