/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
h1 {
  color:crimson;
  text-align: center;
}
form {
  display: flex;
  flex: 50%;
}
#LSAttributes {
  
}
#FGM, #FGA, #FTM, #FTA, #threePM, #threePA, #OREB, #REB, #AST, #STL, #BLK, #TO, #DD, #TD, #PTS {
  width: 100px;
  height: 35px;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/