/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
main {
  /* display: flex; */
}
h1 {
  color:crimson;
  text-align: center;
}
form {
  display: flex;
  width: 100%;
}
#LS, #PS {
  display: flex;
  flex-direction: column;
  flex: 50%;
  text-align: center;
}
#LSAttributes, #PSAttributes {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  padding: 0;
}
.input {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.input > label {
  align-self: center;
}
#FGM, #FGA, #FTM, #FTA, #threePM, #threePA, #OREB, #REB, #AST, #STL, #BLK, #TO, #DD, #TD, #PTS {
  width: 100px;
  height: 30px;
}
button {
  margin-right: auto;
  margin-left: auto;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/